# TITLE

In [1]:
import os

# Import local code
import sys
sys.path.append('/'.join(sys.path[0].split('/')[0:-1]) + '/module/')

from utils import *

## Settings

In [2]:
subj_ind = 5

## Loading data

In [3]:
# Create the path to the data (assume the Github repo, but works on any computer)
dat_path = os.getcwd().replace('notebooks', 'data')
# Note: this also works, but looks like nonsense. 
#dat_path = '/'.join(os.getcwd().split('/')[0:-1]) + '/data/'

In [4]:
# Check all data files
all_files = os.listdir(dat_path)
subj_files = [file for file in all_files if 'subj' in file]

# Create full subj data path
subj_dat_path = os.path.join(dat_path, subj_files[subj_ind])

In [5]:
# Load the data
df = load_posyx_file(subj_dat_path)

In [7]:
df.head()

   tagId                     timestamp       x       y    z  latency
0  26382 2019-05-22 01:47:10.051000118  4293.0  4618.0  0.0     77.8
1  26457 2019-05-22 01:47:10.134000063  7739.0  7942.0  0.0     73.9
2  26382 2019-05-22 01:47:10.216000080  4312.0  4457.0  0.0     81.8
3  26457 2019-05-22 01:47:10.308000088  7750.0  7959.0  0.0     68.5
4  26382 2019-05-22 01:47:10.414000034  4412.0  4268.0  0.0     78.6