# TITLE

In [31]:
import os

# Import local code
import sys
#sys.path.append('/'.join(sys.path[0].split('/')[0:-1]) + '/module/')

#from utils import *

SyntaxError: invalid syntax (<ipython-input-31-5dcc5b06a909>, line 7)

In [49]:
#because above isn't working--DELETE LATER
import math

import pandas as pd
def load_posyx_file(f_name):
    """Helper function to load data."""

    # Update this list to specify which columns you want to keep
    keep_cols = ['tagId', 'timestamp', 'success', 'x', 'y', 'z', 'latency']

    # Load the data
    df = pd.read_json(f_name, lines=True, orient='records')

    # Grab the data column, unpack and add all the embedded jsons
    data_df = pd.read_json(df.pop('data').to_json(), orient='index')
    for col in ['coordinates', 'metrics', 'orientation']:
        temp = pd.read_json(data_df[col].to_json(), orient='index')
        df = pd.concat([df, temp], axis=1, join_axes=[df.index])

    # Select columns to return
    df = df[keep_cols]

    return df

## Settings

In [53]:
subj_ind = 13

## Loading data

In [44]:
# Create the path to the data (assume the Github repo, but works on any computer)
dat_path = os.getcwd().replace('notebooks', 'data')
# Note: this also works, but looks like nonsense. 
#dat_path = '/'.join(os.getcwd().split('/')[0:-1]) + '/data/'

In [54]:
# Check all data files
all_files = os.listdir(dat_path)
subj_files = [file for file in all_files if 'subj' in file]
print(subj_files)

# Create full subj data path
subj_dat_path = os.path.join(dat_path, subj_files[subj_ind])

['subj_1.json', 'subj_10.json', 'subj_11.json', 'subj_12.json', 'subj_13.json', 'subj_14.json', 'subj_15.json', 'subj_16.json', 'subj_17.json', 'subj_18.json', 'subj_2.json', 'subj_3.json', 'subj_4.json', 'subj_5.json', 'subj_6.json', 'subj_8.json', 'subj_9.json']

In [55]:
# Load the data
df = load_posyx_file(subj_dat_path)

In [57]:
df.head()

   tagId                     timestamp  success       x       y    z  latency
0  26457 2019-05-22 02:26:31.362999916     True  7924.0  7977.0  0.0    108.8
1  26382 2019-05-22 02:26:31.559999943    False     NaN     NaN  NaN      NaN
2  26457 2019-05-22 02:26:31.913000107     True  7868.0  8012.0  0.0     72.6
3  26382 2019-05-22 02:26:32.015000105    False     NaN     NaN  NaN      NaN
4  26457 2019-05-22 02:26:32.345999956     True  7864.0  7984.0  0.0     70.6

In [59]:
# Check how many tags there are, and their IDs
tags = set(df['tagId'].values)
print('There are {} tags'.format(len(tags)))
print('The tag IDs are: {}'.format(*tags))

There are 2 tags
The tag IDs are: 26457

In [60]:
# Use a dictionary to label tags
tag_dict = {'participant' : 26382, 
            'local' : 26457}

In [61]:
# Example: Use the lab dictionary to loop through the raw data, and grab data from a specific tag
for person in tag_dict.keys():
    print(person)
    print(df[df['tagId'] == tag_dict[person]].head())
    print('\n')

participant
   tagId                     timestamp  success   x   y   z  latency
1  26382 2019-05-22 02:26:31.559999943    False NaN NaN NaN      NaN
3  26382 2019-05-22 02:26:32.015000105    False NaN NaN NaN      NaN
5  26382 2019-05-22 02:26:32.421999931    False NaN NaN NaN      NaN
7  26382 2019-05-22 02:26:32.901000023    False NaN NaN NaN      NaN
9  26382 2019-05-22 02:26:33.364000082    False NaN NaN NaN      NaN


local
   tagId                     timestamp  success       x       y    z  latency
0  26457 2019-05-22 02:26:31.362999916     True  7924.0  7977.0  0.0    108.8
2  26457 2019-05-22 02:26:31.913000107     True  7868.0  8012.0  0.0     72.6
4  26457 2019-05-22 02:26:32.345999956     True  7864.0  7984.0  0.0     70.6
6  26457 2019-05-22 02:26:32.818000078     True  7862.0  8014.0  0.0     76.8
8  26457 2019-05-22 02:26:33.273000002     True  7849.0  7944.0  0.0     80.9

In [62]:
#Create dataframes my own way for easier access right now
dfParticipant = df[df['tagId']== 26382]
dfLocal = df[df['tagId']== 26475]

In [68]:
dfParticipant = dfParticipant.dropna()
dfParticipant

,tagId,timestamp,success,x,y,z,latency
459,26382,2019-05-22 02:28:16.128000020,True,3458.0,5594.0,0.0,77.8
461,26382,2019-05-22 02:28:16.290999889,True,3587.0,5335.0,0.0,76.4
463,26382,2019-05-22 02:28:16.448999882,True,3641.0,5087.0,0.0,76.8
465,26382,2019-05-22 02:28:16.683000088,True,3686.0,4834.0,0.0,79.8
469,26382,2019-05-22 02:28:17.229000092,True,4163.0,4027.0,0.0,83.4
477,26382,2019-05-22 02:28:18.663000107,True,4579.0,2238.0,0.0,79.8
485,26382,2019-05-22 02:28:20.039999962,True,5126.0,845.0,0.0,84.8
487,26382,2019-05-22 02:28:20.244999886,True,5086.0,-347.0,0.0,82.8
489,26382,2019-05-22 02:28:20.414999962,True,5314.0,288.0,0.0,79.7
491,26382,2019-05-22 02:28:20.631000042,True,5325.0,51.0,0.0,114.4
493,26382,2019-05-22 02:28:20.910000086,True,5376.0,-286.0,0.0,84.9
1563,26382,2019-05-22 02:32:21.842000008,True,17440.0,-11400.0,0.0,77.9
1577,26382,2019-05-22 02:32:24.551000118,True,14087.0,-9733.0,0.0,78.8
1579,26382,2019-05-22 02:32:24.716000080,True,13867.0,-9719.0,0.0,79.4
1581,26382,2019-05-22 02:32:24.969000101,True,13656.0,-9553.0,0.0,85.8
1583,26382,2019-05-22 02:32:25.142999887,True,13718.0,-9310.0,0.0,84.8
1585,26382,2019-05-22 02:32:25.312000036,True,13340.0,-9138.0,0.0,92.7
1587,26382,2019-05-22 02:32:25.529999970,True,13055.0,-8992.0,0.0,81.7
1589,26382,2019-05-22 02:32:25.697999954,True,12821.0,-8940.0,0.0,85.3
1591,26382,2019-05-22 02:32:25.950999975,True,12748.0,-8647.0,0.0,79.4
1593,26382,2019-05-22 02:32:26.118999958,True,12595.0,-8406.0,0.0,81.8
1595,26382,2019-05-22 02:32:26.282999992,True,12336.0,-8307.0,0.0,78.9
1597,26382,2019-05-22 02:32:26.473000050,True,12408.0,-8121.0,0.0,85.8
1599,26382,2019-05-22 02:32:26.660000086,True,11995.0,-7953.0,0.0,79.7
1601,26382,2019-05-22 02:32:26.868000031,True,11932.0,-7751.0,0.0,83.0
1603,26382,2019-05-22 02:32:27.078999996,True,11733.0,-7442.0,0.0,82.3
1607,26382,2019-05-22 02:32:27.681999922,True,11433.0,-6892.0,0.0,95.7
1609,26382,2019-05-22 02:32:27.897000074,True,11271.0,-6650.0,0.0,84.1
1611,26382,2019-05-22 02:32:28.098999977,True,10993.0,-6450.0,0.0,77.8
1613,26382,2019-05-22 02:32:28.263999939,True,10950.0,-6266.0,0.0,76.7
...,...,...,...,...,...,...,...
1677,26382,2019-05-22 02:32:34.565999985,True,6813.0,644.0,0.0,74.8
1679,26382,2019-05-22 02:32:34.726000071,True,6641.0,921.0,0.0,77.8
1681,26382,2019-05-22 02:32:34.960000038,True,6621.0,1136.0,0.0,78.7
1683,26382,2019-05-22 02:32:35.121999979,True,6457.0,1369.0,0.0,81.6
1685,26382,2019-05-22 02:32:35.295000076,True,6357.0,1493.0,0.0,79.8
1687,26382,2019-05-22 02:32:35.473999977,True,6195.0,1758.0,0.0,77.8
1689,26382,2019-05-22 02:32:35.637000084,True,6071.0,1821.0,0.0,77.8
1691,26382,2019-05-22 02:32:35.845999956,True,5891.0,2183.0,0.0,96.6
1693,26382,2019-05-22 02:32:36.058000088,True,5799.0,2434.0,0.0,79.1
1695,26382,2019-05-22 02:32:36.220000029,True,5667.0,2523.0,0.0,76.8
1697,26382,2019-05-22 02:32:36.378999949,True,5515.0,2665.0,0.0,77.9
1699,26382,2019-05-22 02:32:36.573999882,True,5372.0,2874.0,0.0,78.7
1701,26382,2019-05-22 02:32:36.736000061,True,5248.0,3066.0,0.0,76.9
1703,26382,2019-05-22 02:32:36.964999914,True,5209.0,3214.0,0.0,79.8
1705,26382,2019-05-22 02:32:37.134000063,True,5090.0,3560.0,0.0,77.8
1707,26382,2019-05-22 02:32:37.299999952,True,4900.0,3737.0,0.0,80.8
1709,26382,2019-05-22 02:32:37.496999979,True,4739.0,4082.0,0.0,78.6
1711,26382,2019-05-22 02:32:37.661999941,True,4566.0,4163.0,0.0,80.8
1713,26382,2019-05-22 02:32:37.852999926,True,4458.0,4347.0,0.0,87.6
1715,26382,2019-05-22 02:32:38.049000025,True,4322.0,4598.0,0.0,76.8
1717,26382,2019-05-22 02:32:38.210000038,True,4248.0,4821.0,0.0,80.8
1719,26382,2019-05-22 02:32:38.384999990,True,4137.0,4935.0,0.0,76.7
1721,26382,2019-05-22 02:32:38.579999924,True,3999.0,5161.0,0.0,78.8
1723,26382,2019-05-22 02:32:38.743999958,True,3896.0,5400.0,0.0,75.7
1725,26382,2019-05-22 02:32:38.980999947,True,3726.0,5663.0,0.0,76.8
1727,26382,2019-05-22 02:32:39.142999887,True,3660.0,5713.0,0.0,77.6
1729,26382,2019-05-22 02:32:39.302999973,True,3543.0,5925.0,0.0,77.8
1731,26382,2019-05-22 02:32:39.492000103,True,3420.0,6220.0,0.0,81.8
1733,26382,2019-05-22 02:32:39.657999992,True,3348.0,6239.0,0.0,77.8
1735,26382,2019-05-22 02:32:39.839999914,True,3261.0,6402.0,0.0,91.5

In [1]:
#Create a function to make dataframes for the participant's leaving and returning from the hallway

def createExperimentDfs(participant_df):
    leave_df = pd.DataFrame(columns=['tagId', 'timestamp', 'success', 'x', 'y', 'z', 'latency', 'consecutive'])
    return_df = pd.DataFrame(columns=['tagId', 'timestamp', 'success', 'x', 'y', 'z', 'latency', 'consecutive'])
    index1 = participant_df.index[0]
    index2 = 0
    marker = 0
    df_to_append = 0
    for index, row in participant_df.iterrows():
        index2 = participant_df.index[marker]
        
        if (index2 - index1 <= 2 and df_to_append == 0):
            leave_df = leave_df.append(row)
            
        elif (index2 - index1 <= 2 and df_to_append == 1):
            return_df = return_df.append(row)
            
        elif (index2 - index1 > 500):
            df_to_append = 1
        
        else:
            if (df_to_append == 0):
                leave_df = leave_df.append(row)
                leave_df.set_value[index, 'consecutive', 'False']
            else :
                return_df = return_df.append(row)
                return_df.set_value[index, 'consecutive', 'False']
                
        index1 = participant_df.index[marker]
        marker = marker + 1
    return leave_df, return_df

In [2]:
participant_leave, participant_return = createExperimentDfs(dfParticipant)

NameError: name 'dfParticipant' is not defined

In [118]:
participant_leave

,tagId,timestamp,success,x,y,z,latency,0
459,26382,2019-05-22 02:28:16.128000020,True,3458.0,5594.0,0.0,77.8,NaN
461,26382,2019-05-22 02:28:16.290999889,True,3587.0,5335.0,0.0,76.4,NaN
463,26382,2019-05-22 02:28:16.448999882,True,3641.0,5087.0,0.0,76.8,NaN
465,26382,2019-05-22 02:28:16.683000088,True,3686.0,4834.0,0.0,79.8,NaN
469,26382,2019-05-22 02:28:17.229000092,True,4163.0,4027.0,0.0,83.4,NaN
0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
477,26382,2019-05-22 02:28:18.663000107,True,4579.0,2238.0,0.0,79.8,NaN
0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
485,26382,2019-05-22 02:28:20.039999962,True,5126.0,845.0,0.0,84.8,NaN
0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
487,26382,2019-05-22 02:28:20.244999886,True,5086.0,-347.0,0.0,82.8,NaN
489,26382,2019-05-22 02:28:20.414999962,True,5314.0,288.0,0.0,79.7,NaN
491,26382,2019-05-22 02:28:20.631000042,True,5325.0,51.0,0.0,114.4,NaN
493,26382,2019-05-22 02:28:20.910000086,True,5376.0,-286.0,0.0,84.9,NaN

In [120]:
participant_return

,tagId,timestamp,success,x,y,z,latency,0
1577,26382,2019-05-22 02:32:24.551000118,True,14087.0,-9733.0,0.0,78.8,NaN
0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1579,26382,2019-05-22 02:32:24.716000080,True,13867.0,-9719.0,0.0,79.4,NaN
1581,26382,2019-05-22 02:32:24.969000101,True,13656.0,-9553.0,0.0,85.8,NaN
1583,26382,2019-05-22 02:32:25.142999887,True,13718.0,-9310.0,0.0,84.8,NaN
1585,26382,2019-05-22 02:32:25.312000036,True,13340.0,-9138.0,0.0,92.7,NaN
1587,26382,2019-05-22 02:32:25.529999970,True,13055.0,-8992.0,0.0,81.7,NaN
1589,26382,2019-05-22 02:32:25.697999954,True,12821.0,-8940.0,0.0,85.3,NaN
1591,26382,2019-05-22 02:32:25.950999975,True,12748.0,-8647.0,0.0,79.4,NaN
1593,26382,2019-05-22 02:32:26.118999958,True,12595.0,-8406.0,0.0,81.8,NaN
1595,26382,2019-05-22 02:32:26.282999992,True,12336.0,-8307.0,0.0,78.9,NaN
1597,26382,2019-05-22 02:32:26.473000050,True,12408.0,-8121.0,0.0,85.8,NaN
1599,26382,2019-05-22 02:32:26.660000086,True,11995.0,-7953.0,0.0,79.7,NaN
1601,26382,2019-05-22 02:32:26.868000031,True,11932.0,-7751.0,0.0,83.0,NaN
1603,26382,2019-05-22 02:32:27.078999996,True,11733.0,-7442.0,0.0,82.3,NaN
1607,26382,2019-05-22 02:32:27.681999922,True,11433.0,-6892.0,0.0,95.7,NaN
0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1609,26382,2019-05-22 02:32:27.897000074,True,11271.0,-6650.0,0.0,84.1,NaN
1611,26382,2019-05-22 02:32:28.098999977,True,10993.0,-6450.0,0.0,77.8,NaN
1613,26382,2019-05-22 02:32:28.263999939,True,10950.0,-6266.0,0.0,76.7,NaN
1617,26382,2019-05-22 02:32:28.835000038,True,10561.0,-5579.0,0.0,95.7,NaN
0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1619,26382,2019-05-22 02:32:29.035000086,True,10469.0,-5404.0,0.0,83.5,NaN
1621,26382,2019-05-22 02:32:29.207000017,True,10358.0,-5181.0,0.0,79.6,NaN
1623,26382,2019-05-22 02:32:29.375000000,True,10244.0,-4981.0,0.0,77.7,NaN
1625,26382,2019-05-22 02:32:29.569999933,True,10139.0,-4789.0,0.0,99.8,NaN
1627,26382,2019-05-22 02:32:29.756999969,True,10104.0,-4536.0,0.0,79.8,NaN
1629,26382,2019-05-22 02:32:29.993000031,True,9854.0,-4285.0,0.0,83.9,NaN
1631,26382,2019-05-22 02:32:30.160000086,True,9942.0,-4140.0,0.0,76.8,NaN
1633,26382,2019-05-22 02:32:30.322000027,True,9742.0,-3910.0,0.0,87.8,NaN
...,...,...,...,...,...,...,...,...
1677,26382,2019-05-22 02:32:34.565999985,True,6813.0,644.0,0.0,74.8,NaN
1679,26382,2019-05-22 02:32:34.726000071,True,6641.0,921.0,0.0,77.8,NaN
1681,26382,2019-05-22 02:32:34.960000038,True,6621.0,1136.0,0.0,78.7,NaN
1683,26382,2019-05-22 02:32:35.121999979,True,6457.0,1369.0,0.0,81.6,NaN
1685,26382,2019-05-22 02:32:35.295000076,True,6357.0,1493.0,0.0,79.8,NaN
1687,26382,2019-05-22 02:32:35.473999977,True,6195.0,1758.0,0.0,77.8,NaN
1689,26382,2019-05-22 02:32:35.637000084,True,6071.0,1821.0,0.0,77.8,NaN
1691,26382,2019-05-22 02:32:35.845999956,True,5891.0,2183.0,0.0,96.6,NaN
1693,26382,2019-05-22 02:32:36.058000088,True,5799.0,2434.0,0.0,79.1,NaN
1695,26382,2019-05-22 02:32:36.220000029,True,5667.0,2523.0,0.0,76.8,NaN
1697,26382,2019-05-22 02:32:36.378999949,True,5515.0,2665.0,0.0,77.9,NaN
1699,26382,2019-05-22 02:32:36.573999882,True,5372.0,2874.0,0.0,78.7,NaN
1701,26382,2019-05-22 02:32:36.736000061,True,5248.0,3066.0,0.0,76.9,NaN
1703,26382,2019-05-22 02:32:36.964999914,True,5209.0,3214.0,0.0,79.8,NaN
1705,26382,2019-05-22 02:32:37.134000063,True,5090.0,3560.0,0.0,77.8,NaN
1707,26382,2019-05-22 02:32:37.299999952,True,4900.0,3737.0,0.0,80.8,NaN
1709,26382,2019-05-22 02:32:37.496999979,True,4739.0,4082.0,0.0,78.6,NaN
1711,26382,2019-05-22 02:32:37.661999941,True,4566.0,4163.0,0.0,80.8,NaN
1713,26382,2019-05-22 02:32:37.852999926,True,4458.0,4347.0,0.0,87.6,NaN
1715,26382,2019-05-22 02:32:38.049000025,True,4322.0,4598.0,0.0,76.8,NaN
1717,26382,2019-05-22 02:32:38.210000038,True,4248.0,4821.0,0.0,80.8,NaN
1719,26382,2019-05-22 02:32:38.384999990,True,4137.0,4935.0,0.0,76.7,NaN
1721,26382,2019-05-22 02:32:38.579999924,True,3999.0,5161.0,0.0,78.8,NaN
1723,26382,2019-05-22 02:32:38.743999958,True,3896.0,5400.0,0.0,75.7,NaN
1725,26382,2019-05-22 02:32:38.980999947,True,3726.0,5663.0,0.0,76.8,NaN
1727,26382,2019-05-22 02:32:39.142999887,True,3660.0,5713.0,0.0,77.6,NaN
1729,26382,2019-05-22 02:32:39.302999973,True,3543.0,5925.0,0.0,77.8,NaN
1731,26382,2019-05-22 02:32:39.492000103,True,3420.0,6220.0,0.0,81.8,NaN
1733,26382,2019-05-22 02:32:39.657999992,True,3348.0,6239.0,0.0,77.8,NaN
1735,26382,2019-05-22 02:32:39.839999914,True,3261.0,6402.0,0.0,91.5,NaN